@import url("https://fonts.googleapis.com/css?family=Hind+Siliguri&display=swap");
$pozadina: #51555a;
$tekst: #ba9c53;
* {
  margin: 0px;
  padding: 0px;
  font-weight: 400;
  font-family: 'Hind Siliguri';
  scroll-behavior: smooth;
  color: $pozadina;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none !important;
  color: $pozadina;
}
header{
	font-size: 1.1rem;
}
.tekst{
	color: $tekst;
}
.pozadina{
	background-color: $pozadina;
}
nav{
	width: 100%;
	height: 60px;
	background-color: $pozadina;
	padding-top: 2rem;
	padding-bottom: 2rem;
	font-size: 1.2rem;
	img{
		height: 40px;
	}
	.fa-bars{
		color: #FFF;
		padding-top: 0.26rem;
	}
	a{
		color: #FFF;
	}
	a:hover{
		color: $tekst;
	}
}
#collapsibleNavbar{
	background-color: $pozadina;
}
.beoTekst{
	.btn{
		color: #FFF;
		background-color: $pozadina;
	}
	.btn:hover{
		color: $tekst;
	}
}
.blink{
	color: #FFF !important;
}
#night_view{
	background-image: url(../img/view.jpg);
	background-attachment: fixed;
	background-size: cover;
	min-height: 500px;
	.h2{
		p{
			color: $tekst;
			background-color: rgba(81, 85, 90, 0.77);
			border-radius: 10px;
		}
	}
}
#room_view{
	background-image: url(../img/living_room.jpg);
	background-attachment: fixed;
	background-size: cover;
	min-height: 700px;
	.h2{
		p{
			color: $tekst;
			background-color: rgba(81, 85, 90, 0.77);
			border-radius: 10px;
		}
	}
}
#summer_view{
	background-image: url(../img/summer_view.png);
	background-attachment: fixed;
	background-size: cover;
	min-height: 700px;
	.h2{
		p{
			color: $tekst;
			background-color: rgba(81, 85, 90, 0.77);
			border-radius: 10px;
		}
	}
}
.zaobljen{
	border-radius: 15px;
}
.potamni{
	filter: none;
	transition: 1s;
}
.potamni:hover{
	filter: grayscale(80%);
	transition: 1s;
}
footer{
	box-shadow: 0px -2px 3px $pozadina;
	background-color: #FFF;
	a{
		background-color: $pozadina !important;
		color: $tekst !important;
	}
	a:hover{
		background-color: $tekst !important;
		color: $pozadina !important;
	}
}
#foter{
	box-shadow: 0px -2px 3px $pozadina;;
	background-color: #FFF;
	z-index: 3;
	a{
		background-color: $pozadina !important;
		color: $tekst !important;
	}
	a:hover{
		background-color: $tekst !important;
		color: $pozadina !important;
	}
}
#rooms_view{
	background-image: url(../img/livingRoom.jpg);
	background-attachment: fixed;
	background-size: cover;
	top: -20px;
	min-height: 700px;
	.h1{
		h1{
			color: $tekst;
			background-color: rgba(81, 85, 90, 0.77);
			border-radius: 10px;
			text-align: center;
		}
	}
}
#RoomsSuites{
	h2{
		text-align: center;
		font-size: 2.5rem;
	}
}
#room_pic{
	.fsize{
		font-size: 1.4rem;
		margin-bottom: 0px;
	}
	.card{
		height: 470px;
		p{
			padding: 0rem 1.25rem;
		}
	}
	.modal-tekst{
		border-top: 1px solid #dee2e6;
		padding: .75rem;
	}
}
#winter_view{
	background-image: url(../img/winter.jpg);
	background-attachment: fixed;
	background-size: cover;
	min-height: 700px;
	.h1{
		h1{
			color: $tekst;
			background-color: rgba(81, 85, 90, 0.77);
			border-radius: 10px;
			text-align: center;
			text-transform: uppercase;
		}
	}
}
.offer{
	.card-text{
		padding: 0rem 1.25rem;
	}
	.card-text:last-child{
		margin-bottom: 1rem;
	}
	.wsize{
		font-size: 1.7rem;
	}
}
#summer_view{
	background-image: url(../img/summer.jpg);
	background-attachment: fixed;
	background-size: cover;
	min-height: 700px;
	.h1{
		h1{
			color: $tekst;
			background-color: rgba(81, 85, 90, 0.77);
			border-radius: 10px;
			text-align: center;
			text-transform: uppercase;
		}
	}
}
#contact_view{
	background-image: url(../img/contact.jpg);
	background-attachment: fixed;
	background-size: cover;
	min-height: 700px;
	.h1{
		h1{
			color: $tekst;
			background-color: rgba(81, 85, 90, 0.77);
			border-radius: 10px;
			text-align: center;
			text-transform: uppercase;
		}
	}
}
#cinfo{
	font-size: 1.2rem;
}
.form-control{
	border: 1px solid #ba9c53 !important;
}
textarea{
	resize: none;
}
#links{
	a{
		font-size: 1.3rem;
	}
	a:hover{
		color: $tekst;
	}
}
.material-icons{
	color: #fff;
}
#mheader{
	margin-top: 20px;
	p{
		text-align: center;
		margin: 5px 0px;
	}
}
#mnav{
	height: 65px !important;
	box-sizing: border-box;
	padding: 0px;
	position: sticky;
	top: 0px;
}
#author_view{
	width: 100%;
	background-image: url(../img/author_view.jpg);
	background-attachment: fixed;
	background-size: cover;
	min-height: 700px;
	display: flex;
	justify-content: center;
	align-items: center;
	h1{
		padding: 5px 15px;
		color: $tekst;
		background-color: rgba(81, 85, 90, 0.77);
		border-radius: 10px;
		text-align: center;
		text-transform: uppercase;
	}
}
#author{
	margin-top: 50px;
	margin-bottom: 50px;
	text-align: center;
	#pauthor{
		display: flex;
		justify-content: center;
		
	}
	#tauthor{
		p{
			margin-top: 20px;
			font-size: 1.3rem;
		}
	}
}
#footer{
	display: flex;
	.row{
		margin-top: 20px;
		display: flex;
		align-items: center;
		text-align: center;
	}
}
@media only screen and (max-width: 767px){
	.pl-5{
		padding: 0px !important;
	}
}
@media only screen and (max-width: 991px){
	.okrenuto{
		display: flex;
		flex-direction: column-reverse;
	}
}
@media only screen and (max-width: 576px){
	header{
		font-size: 0.8rem;
		.mt-3{
			margin: 7px 0px !important;
		}
	}
	#room_pic{
		.card{
			height: 550px !important;
		}
	}
	footer{
		font-size: 0.8rem;
		.mt-3{
			margin: 7px 0px !important;
		}
	}
	#links{
		a{
			font-size: 1rem;
		}
	}
}
@media only screen and (max-width: 400px){
	#room_pic{
		.card{
			height: 450px !important;
		}
	}
}